{% extends 'mdr_base.html' %}

{% block title %}MDR - Create User{% endblock %}

{% block header %}Create User{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <table class="purple">
        <tr>
            <td>
                Username:
            </td>
            <td>
                {{ form.username.errors }}
                {{ form.username }}
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                {{ form.email.errors }}
                {{ form.email }}
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                {{ form.password1.errors }}
                {{ form.password1 }}
            </td>
        </tr>
        <tr>
            <td>
                Verify Password:
            </td>
            <td>
                {{ form.password2.errors }}
                {{ form.password2 }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <input type="submit" value="Create">
                </center>
            </td>
        </tr>
    </table>
</form>
{% endblock %}